.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.flexItem {
  flex: 1;
}

.textContainer {
  display: flex;
  align-items: center;
}

.centeringColumn {
  display: grid;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}